<ul style="display:flex; list-style-type:none;gap:30px;">
    a(href="/") 
        img(src="https://cinevie.vercel.app/logo.png", alt="logo")

    li 
        a(href="/signup") sign up
    li     
        a(href="/signin") sign in
            
</ul>