extends layout.pug


block header
    h1 hello
block content
  h1= title
    <form action="" method="">
    <input type="text" name="name" value="name">
    <input type="text" name="email" value="email">
    </form>
