extends layout.pug
block content
    span= msg 
    h1 sign in
    <form action="/signin" method="post">
        <input type="email" name="email" >
        <input type="password" name="password" >
        <button >login</button> 
    </form>